# Ignore everything in the folder containing the binaries.
bin/

# Ignore all the files in the build directory
build/

# Object code Files
*.o

# Executable files.
*.out
*.exe
*.bin

# PDF files
*.pdf

# Vim Swap Files
.*.swp
